.sign-in {
  width: 30%;
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: space-between;
    .container {
      display: flex;
      .google-icon {
        width: 24px;
        margin: auto 0.2vw;
      }
    }
  }
}
