.menu-item {
  width: 25%;
  height: 34vh;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.05);
      transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -webkit-transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -ms-transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
    }

    & .content {
      opacity: 0.9;
    }
  }
  &.large {
    height: 450px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }
  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #fff;
    opacity: 0.7;
    position: absolute;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
      display: flex;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
